<footer id="footer">
    <section class="section">
        <div class="container">
            <div class="row element-top-40 element-bottom-40 footer-columns-4">
                <div class="col-sm-2">
                    <div class="sidebar-widget widget_text" id="text-2">
                        <div class="textwidget">
                            <img src="assets/images/logo/logo-1.png" style="width: 80px;"/>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="sidebar-widget widget_categories">
                        <ul>
                            <li><a href="index.html" title="Book a Meet-And-Greet">Book a Meet-And-Greet</a></li>
                            <li><a href="work-for-us.html" title="Work for Us.">Work for Us.</a> </li>
                            <li><a href="testimonoals.html" title="Testimonials">Testimonials</a></li>
                            <li><a href="#" title="Blog.">Blog.</a></li>
                            <li><a href="#" title="FAQ.">FAQ.</a></li>
                            <li><a href="#" title="Pay Your Bill">Pay Your Bill</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="sidebar-widget widget_text">
                        <h3 class="sidebar-header">Contact</h3>

                        <div class="textwidget">
                            <p>Phone: +381 62 485 4322</p>
                            <address>
                                Address: Palm Street 23,<br>
                                <span style="padding-left: 60px;">Miami, FL</span><br>
                            </address>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="sidebar-widget widget_text">
                        <h3 class="sidebar-header">Find us on</h3>
                        <ul class="unstyled social-icons social-simple social-normal">
                            <li>
                                <a href="https://twitter.com/">
                                    <i class="fa fa-twitter"><span>Twitter</span></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://facebook/">
                                    <i class="fa fa-facebook"><span>Facebook</span></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://instagram/">
                                    <i class="fa fa-instagram"><span>Instagram</span></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://linkedin.com/">
                                    <i class="fa fa-linkedin"><span>Linkedin</span></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section subfooter">
        <div class="container">
            <div class="row element-top-10 element-bottom-10 footer-columns-2">
                <div class="col-sm-12">
                    <div class="textwidget copyright text-left">&copy;Copyright  dolor sit amet, consectetur adipiscing eli <span>Terms and conditions / Privacy policy</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>
<script>
    function outputUpdate(vol) {
        document.querySelector('#hours-out').value = vol+'h';
    }
</script>