{% extends "layouts/corporate.html" %}

{% set title = "Corporate| About Us" %}
{% set activeMenu = "Pages" %}

{% block content %}
<article>
    <section class="section">
        <div class="background-overlay"></div>
        <div class="container">
            <div class="visible-xs element-height-20"></div>
            <div class="visible-sm element-height-30"></div>
            <div class="visible-md element-height-50"></div>
            <div class="visible-lg element-height-70"></div>

            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center element-top-0 text-normal os-animation super default"
                        data-os-animation="fadeIn" data-os-animation-delay="0s" data-start="opacity:1"
                        data-center="opacity:1" data-0-top-bottom="opacity:0">
                        About us
                    </h1>
                    <div class="divider-border divider-border-center element-top-10 element-bottom-10 os-animation"
                         data-os-animation="fadeIn" data-os-animation-delay="0.1s" style="height:3px;">
                        <div class="divider-border-inner" style="width:60px;"></div>
                    </div>
                    <div class="row element-bottom-60">
                        <div class="figure col-md-3 col-sm-4 col-xs-6 fade-in element-bottom-20 figcaption-bottom text-left fade-in os-animation"
                             data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                            <div class="figure-image">
                                <a href="#" data-toggle="modal" data-target="#myModal" >
                                <img src="assets/images/happy-nanny/staff-placeholder.png" alt="Robert Robertson">
                                </a>
                            </div>
                            <div class="figure-caption text-center">
                                <h3 class="figure-caption-title">
                                    <strong>Robert Robertson</strong>
                                </h3>
                                <p class="text-caps">Marketing Manager</p>
                                <p class="text-underline">City Name</p>

                            </div>
                        </div>
                        <div class="figure col-md-3 col-sm-4 col-xs-6 fade-in element-bottom-20 figcaption-bottom text-left fade-in os-animation"
                             data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                            <div class="figure-image">
                                <a href="#" data-toggle="modal" data-target="#myModal" >
                                    <img src="assets/images/happy-nanny/staff-placeholder.png" alt="Robert Robertson">
                                </a>
                            </div>
                            <div class="figure-caption text-center">
                                <h3 class="figure-caption-title">
                                    <strong>Robert Robertson</strong>
                                </h3>
                                <p class="text-caps">Marketing Manager</p>
                                <p class="text-underline">City Name</p>

                            </div>
                        </div>
                        <div class="figure col-md-3 col-sm-4 col-xs-6 fade-in element-bottom-20 figcaption-bottom text-left fade-in os-animation"
                             data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                            <div class="figure-image">
                                <a href="#" data-toggle="modal" data-target="#myModal" >
                                    <img src="assets/images/happy-nanny/staff-placeholder.png" alt="Robert Robertson">
                                </a>
                            </div>
                            <div class="figure-caption text-center">
                                <h3 class="figure-caption-title">
                                    <strong>Robert Robertson</strong>
                                </h3>
                                <p class="text-caps">Marketing Manager</p>
                                <p class="text-underline">City Name</p>

                            </div>
                        </div>
                        <div class="figure col-md-3 col-sm-4 col-xs-6 fade-in element-bottom-20 figcaption-bottom text-left fade-in os-animation"
                             data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                            <div class="figure-image">
                                <a href="#" data-toggle="modal" data-target="#myModal" >
                                    <img src="assets/images/happy-nanny/staff-placeholder.png" alt="Robert Robertson">
                                </a>
                            </div>
                            <div class="figure-caption text-center">
                                <h3 class="figure-caption-title">
                                    <strong>Robert Robertson</strong>
                                </h3>
                                <p class="text-caps">Marketing Manager</p>
                                <p class="text-underline">City Name</p>

                            </div>
                        </div>
                        <div class="figure col-md-3 col-sm-4 col-xs-6 fade-in element-bottom-20 figcaption-bottom text-left fade-in os-animation"
                             data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                            <div class="figure-image">
                                <a href="#" data-toggle="modal" data-target="#myModal" >
                                    <img src="assets/images/happy-nanny/staff-placeholder.png" alt="Robert Robertson">
                                </a>
                            </div>
                            <div class="figure-caption text-center">
                                <h3 class="figure-caption-title">
                                    <strong>Robert Robertson</strong>
                                </h3>
                                <p class="text-caps">Marketing Manager</p>
                                <p class="text-underline">City Name</p>

                            </div>
                        </div>
                        <div class="figure col-md-3 col-sm-4 col-xs-6 fade-in element-bottom-20 figcaption-bottom text-left fade-in os-animation"
                             data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                            <div class="figure-image">
                                <a href="#" data-toggle="modal" data-target="#myModal" >
                                    <img src="assets/images/happy-nanny/staff-placeholder.png" alt="Robert Robertson">
                                </a>
                            </div>
                            <div class="figure-caption text-center">
                                <h3 class="figure-caption-title">
                                    <strong>Robert Robertson</strong>
                                </h3>
                                <p class="text-caps">Marketing Manager</p>
                                <p class="text-underline">City Name</p>

                            </div>
                        </div>
                        <div class="figure col-md-3 col-sm-4 col-xs-6 fade-in element-bottom-20 figcaption-bottom text-left fade-in os-animation"
                             data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                            <div class="figure-image">
                                <a href="#" data-toggle="modal" data-target="#myModal" >
                                    <img src="assets/images/happy-nanny/staff-placeholder.png" alt="Robert Robertson">
                                </a>
                            </div>
                            <div class="figure-caption text-center">
                                <h3 class="figure-caption-title">
                                    <strong>Robert Robertson</strong>
                                </h3>
                                <p class="text-caps">Marketing Manager</p>
                                <p class="text-underline">City Name</p>

                            </div>
                        </div>
                        <div class="figure col-md-3 col-sm-4 col-xs-6 fade-in element-bottom-20 figcaption-bottom text-left fade-in os-animation"
                             data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                            <div class="figure-image">
                                <a href="#" data-toggle="modal" data-target="#myModal" >
                                    <img src="assets/images/happy-nanny/staff-placeholder.png" alt="Robert Robertson">
                                </a>
                            </div>
                            <div class="figure-caption text-center">
                                <h3 class="figure-caption-title">
                                    <strong>Robert Robertson</strong>
                                </h3>
                                <p class="text-caps">Marketing Manager</p>
                                <p class="text-underline">City Name</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container-fullwidth container-vertical-middle">
            <div class="row">
                <div class="col-md-12">
                    <div class="row vertical-middle">
                        <div class="col-md-6 about-managers" >
                            <img class="hidden-lg visible-sm visible-xs" src="assets/images/happy-nanny/city.png">
                        </div>
                        <div class="col-md-6" style="background:rgba(0, 0, 0, 0.1);">
                            <div class="row">
                                <div class="col-md-1 hidden-sm hidden-xs"></div>

                                <div class="col-md-8 col-sm-12 col-xs-12 text-left">
                                    <h2 class="element-top-20 os-animation big animated fadeIn"
                                        data-os-animation="fadeIn" data-os-animation-delay="0.1s"
                                        style="animation-delay: 0.1s;">
                                        Florida Managers
                                    </h2>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-8">
                                            <h3>Robert Robertson > <span class="text-dark">Orlando</span></h3>
                                            <span>Marketing Manager</span>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-4 text-right">
                                            <a class="btn btn-link btn-normal element-top-20 element-bottom-10 os-animation animated fadeIn"
                                               data-os-animation="fadeIn" data-os-animation-delay="0.4s"
                                               href="#" target="_self"
                                               style="animation-delay: 0.4s;">
                                                Contact
                                            </a>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-8">
                                            <h3>Robert Robertson > <span class="text-dark">Miami</span></h3>
                                            <span>Sales Manager</span>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-4 text-right">
                                            <a class="btn btn-link btn-normal element-top-20 element-bottom-10 os-animation animated fadeIn"
                                               data-os-animation="fadeIn" data-os-animation-delay="0.4s"
                                               href="#" target="_self"
                                               style="animation-delay: 0.4s;">
                                                Contact
                                            </a>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-8">
                                            <h3>Robert Robertson > <span class="text-dark">Orlando</span></h3>
                                            <span>HR Manager</span>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-4 text-right">
                                            <a class="btn btn-link btn-normal dark-button element-top-20 element-bottom-10 os-animation animated fadeIn"
                                               data-os-animation="fadeIn" data-os-animation-delay="0.4s"
                                               href="#" target="_self"
                                               style="animation-delay: 0.4s;">
                                                Contact
                                            </a>
                                        </div>

                                    </div>
                                    <div class="element-height-30 visible-xs"></div>
                                    <div class="element-height-30 visible-lg"></div>
                                    <div class="element-height-30 visible-md"></div>
                                    <div class="element-height-30 visible-sm"></div>
                                </div>


                                <div class="col-md-2 hidden-sm hidden-xs"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="text-center element-top-40 element-bottom-40">
            <input type="submit" value="Contact us" class="btn btn-primary btn-lg text-caps"
                   style="font-size: 24px; width: 200px;">
        </div>
    </section>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog visible-lg" style="width: 800px;top: 20%;">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body row">
                    <div class="col-sm-4 featured-image" >
                    <img src="assets/images/happy-nanny/staff-placeholder.png" alt="Robert Robertson">
                    </div>
                    <div class="col-sm-8 user-info" >
                        <h3>Robert Robertson > <span class="text-dark">Orlando</span></h3>
                        <span>Marketing Manager</span>
                        <hr class="text-left" style="width: 20%; margin-left: 0px;"/>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <p class="element-bottom-50">
                            enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
                        </p>
                    </div>
                    <div class="text-center" style="position: absolute; bottom: 0; right: 15px">
                        <input type="submit" value="SEND" class="btn btn-primary" style="font-size: 24px; width: 200px;">
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-dialog visible-sm" style="width: 600px;top: 20%;">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body row">
                    <div class="col-sm-4 featured-image" >
                        <img src="assets/images/happy-nanny/staff-placeholder.png" alt="Robert Robertson">
                    </div>
                    <div class="col-sm-8 user-info" >
                        <h3>Robert Robertson > <span class="text-dark">Orlando</span></h3>
                        <span>Marketing Manager</span>
                        <hr class="text-left" style="width: 20%; margin-left: 0px;"/>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <p class="element-bottom-50">
                            enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
                        </p>
                    </div>
                    <div class="text-center" style="position: absolute; bottom: 0; right: 15px">
                        <input type="submit" value="SEND" class="btn btn-primary" style="font-size: 24px; width: 200px;">
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-dialog visible-xs" style="width: 300px;top: 20%;">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body row">
                    <div class="col-sm-4 featured-image" >
                        <img src="assets/images/happy-nanny/staff-placeholder.png" alt="Robert Robertson">
                    </div>
                    <div class="col-sm-8 user-info" >
                        <h3>Robert Robertson > <span class="text-dark">Orlando</span></h3>
                        <span>Marketing Manager</span>
                        <hr class="text-left" style="width: 20%; margin-left: 0px;"/>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <p class="element-bottom-50">
                            enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
                        </p>
                    </div>
                    <div class="text-center" style="position: absolute; bottom: 0; right: 15px">
                        <input type="submit" value="SEND" class="btn btn-primary" style="font-size: 24px; width: 200px;">
                    </div>
                </div>
            </div>

        </div>
    </div>

</article>
{% endblock %}