{% extends "layouts/corporate.html" %}

{% set title = "Corporate| About Us" %}
{% set activeMenu = "Pages" %}

{% block content %}
<article>
    <section class="section">
        <div class="container-fullwidth container-vertical-middle">
            <div class="row">
                <div class="col-md-12">
                    <div class="row vertical-middle">
                        <div class="col-md-6 booking-header">
                            <img class="hidden-lg visible-sm visible-xs" src="assets/images/happy-nanny/family.jpg" style="width: 100%;">
                        </div>
                        <div class="col-md-6" style="background-color: #4cd6c1;">
                            <div class="row">
                                <div class="visible-xs element-height-20"></div>
                                <div class="visible-sm element-height-30"></div>
                                <div class="visible-md element-height-50"></div>
                                <div class="visible-lg element-height-70"></div>

                                <div class="col-md-1 hidden-sm"></div>

                                <div class="col-md-7 col-sm-12 col-xs-12 text-left">
                                    <p class="element-top-4 os-animation big animated fadeIn text-light"
                                       data-os-animation="fadeIn" data-os-animation-delay="0.1s"
                                       style="animation-delay: 0.1s;">
                                        We believe <span class="bold">the best</span> way to get you started is to <span class="bold">talk to you</span> about <span class="bold">your family</span>
                                        and <span class="bold">little ones.</span>
                                    </p>


                                <form class="form-inline element-top-30" >
                                    <div class="form-group" style="width: 60%; float:left;">
                                        <label class="sr-only" for="phone-number">Email address</label>
                                        <input type="text" class="form-control btn-lg call-me-text" id="phone-number" placeholder="Enter your phone">
                                    </div>
                                    <button type="submit" class="btn btn-default text-caps call-me-btn">Call Me</button>
                                </form>
                                    <div class="clearfix"></div>
                                    <div class="text-right element-top-10">
                                        <a class="call-me-email" href="mailto:noname@gamil/com">or just email us instead</a>
                                    </div>
                                </div>
                                <div class="col-md-4 hidden-xs"></div>
                            </div>
                            <div class="visible-xs element-height-20"></div>
                            <div class="visible-sm element-height-30"></div>
                            <div class="visible-md element-height-50"></div>
                            <div class="visible-lg element-height-70"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="col-md-offset-2 text-left element-top-70 element-bottom-10 os-animation big animated fadeIn secondary" data-os-animation="fadeIn" data-os-animation-delay="0s" style="animation-delay: 0s;">
                        Great!
                    </h1>
                    <h2 class="col-md-offset-2 third element-top-0 light">Your in place <strong>5</strong> of <strong>20</strong> to talk to a live agent.</h2>

                    <div class="divider-border divider-border-center element-top-10 element-bottom-10 os-animation animated fadeIn" data-os-animation="fadeIn" data-os-animation-delay="0.1s" style="height: 3px; animation-delay: 0.1s;">
                        <div class="divider-border-inner" style="width:60px;">
                        </div>
                    </div>


                    <div class="list-container row element-bottom-50 os-animation animated fadeInUp" data-os-animation="fadeInUp" data-os-animation-delay="0.1s" style="animation-delay: 0.1s;">
                        <div class="col-md-offset-2 col-md-8 element-bottom-20 text-left os-animation animated fadeInUp hold-time" data-os-animation="fadeInUp" data-os-animation-delay="0.1s" style="animation-delay: 0.1s;">

                            <div class="element-bottom-30 element-top-30 element-left-50 element-right-50">
                                <img src="assets/images/happy-nanny/supporter.png" style="width: 48px;"/>
                                <i class="fa fa-circle element-left-10 eclipse-opacity-0"></i>
                                <i class="fa fa-circle element-left-10 eclipse-opacity-1"></i>
                                <i class="fa fa-circle element-left-10 eclipse-opacity-2"></i>
                                <i class="fa fa-circle element-left-10 eclipse-opacity-3"></i>
                                <strong class="middle element-left-20">Estimated Hold Time: <span class="main">3 minutes</span></strong>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="background-overlay grid-overlay-0" style="background-color: rgba(183,183,183,0.1);"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="secondary element-top-70 os-animation big default animated fadeIn" data-os-animation="fadeIn" data-os-animation-delay="0s" style="animation-delay: 0s;">
                        Why book with HappyNanny?
                    </h1>
                    <div class="divider-border divider-border-center element-top-10 element-bottom-10 os-animation animated fadeIn" data-os-animation="fadeIn" data-os-animation-delay="0.1s" style="height: 3px; animation-delay: 0.1s;">
                        <div class="divider-border-inner" style="width:60px;"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <ul class="features-list element-top-40">
                                <li class="element-bottom-0" data-os-animation="none" data-os-animation-delay="0.1s">
                                    <div class="box-animate" data-animation="none" >
                                        <i class="element-left-10 fa fa-star" style="color:#4cd6c1; font-size: 20px"></i>
                                    </div>
                                    <p>Backed with 2M liability insurance.</p>
                                </li>
                                <li class="element-bottom-0" data-os-animation="none" data-os-animation-delay="0.1s">
                                    <div class="box-animate" data-animation="none" >
                                        <i class="element-left-10 fa fa-star" style="color:#4cd6c1; font-size: 20px"></i>
                                    </div>
                                    <p>Childcare that fits most budgets 24/7 whenever you need it.</p>
                                </li>
                                <li class="element-bottom-0" data-os-animation="none" data-os-animation-delay="0.1s">
                                    <div class="box-animate" data-animation="none" >
                                        <i class="element-left-10 fa fa-star" style="color:#4cd6c1; font-size: 20px"></i>
                                    </div>
                                    <p>Tax-deductible</p>
                                </li>

                            </ul>
                        </div>
                        <div class="col-md-6">
                            <div class="element-top-20 element-bottom-20 text-left os-animation animated fadeIn" data-os-animation="fadeIn" data-os-animation-delay="0.3s" style="animation-delay: 0.3s;">
                                <h2 class="secondary" >
                                    What parents are saying about us:
                                </h2>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <i class="fa fa-quote-left main"></i>Some random testimonial, Lorem ipsum doloret sit amet yacta est.
                                    <i class="fa fa-quote-right main"></i>
                                </div>

                                 <div class="visible-xs element-height-30"></div>

                                <div class="col-md-6">
                                    <i class="fa fa-quote-left main"></i>Some random testimonial, Lorem ipsum doloret sit amet yacta est.
                                    <i class="fa fa-quote-right main"></i>
                                </div>
                                <div class="visible-xs element-height-30"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    </section>

</article>
{% endblock %}