{% extends "layouts/corporate.html" %}

{% set title = "Happy Nanny" %}
{% set activeMenu = "Home" %}

{% block extrajs %}
<!-- build:js assets/js/revolution.min.js -->
<script type="text/javascript" src="scripts/tools.min.js"></script>
<script type="text/javascript" src="scripts/revolution.min.js"></script>
<!-- endbuild -->
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('.tp-banner').show().revolution(
            {
                delay: 7000,
                startwidth: 1170,
                startheight: 720,
                onHoverStop: "on", // Stop Banner Timer at Hover on Slide on/off
                thumbWidth: 100, // Thumb With and Height and Amount (only if navigation Tyope set to thumb !)
                thumbHeight: 50,
                thumbAmount: 3,
                hideThumbs: 0,
                navigationType: "none", // bullet, thumb, none
                navigationArrows: "solo", // nexttobullets, solo (old name verticalcentered), none
                navigationStyle: "round", // round,square,navbar,round-old,square-old,navbar-old, or any from the list in the docu (choose between 50+ different item), custom
                navigationHAlign: "center", // Vertical Align top,center,bottom
                navigationVAlign: "bottom", // Horizontal Align left,center,right
                navigationHOffset: 0,
                navigationVOffset: 20,
                soloArrowLeftHalign: "left",
                soloArrowLeftValign: "center",
                soloArrowLeftHOffset: 20,
                soloArrowLeftVOffset: 0,
                soloArrowRightHalign: "right",
                soloArrowRightValign: "center",
                soloArrowRightHOffset: 20,
                soloArrowRightVOffset: 0,
                touchenabled: "on", // Enable Swipe Function : on/off
                stopAtSlide: -1, // Stop Timer if Slide "x" has been Reached. If stopAfterLoops set to 0, then it stops already in the first Loop at slide X which defined. -1 means do not stop at any slide. stopAfterLoops has no sinn in this case.
                stopAfterLoops: -1, // Stop Timer if All slides has been played "x" times. IT will stop at THe slide which is defined via stopAtSlide:x, if set to -1 slide never stop automatic
                hideCaptionAtLimit: 0, // It Defines if a caption should be shown under a Screen Resolution ( Basod on The Width of Browser)
                hideAllCaptionAtLilmit: 0, // Hide all The Captions if Width of Browser is less then this value
                hideSliderAtLimit: 0, // Hide the whole slider, and stop also functions if Width of Browser is less than this value
                fullWidth: "on",
                shadow: 0
            });
    });
</script>
{% endblock %}

{% block content %}
<article>
    <section class="section">

        <div class="container-fullwidth">
            <div class="row">
                <div class="col-md-12">
                    <div class="fullwidthbanner-container">
                        <div class="tp-banner">
                            <ul>    <!-- SLIDE  -->
                                <li data-transition="fade" data-slotamount="5" data-masterspeed="500"
                                    data-saveperformance="on" data-title="Intro Slide">
                                    <!-- MAIN IMAGE -->
                                    <img src="assets/images/rev-slider/back-02.jpg" alt="slidebg1"
                                         data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                                    <!-- LAYERS -->

                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption lfb ltb rs-parallaxlevel-0"
                                         data-x="0"
                                         data-y="100"
                                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                         data-speed="800"
                                         data-start="1800"
                                         data-easing="Power3.easeInOut"
                                         data-elementdelay="0.1"
                                         data-endelementdelay="0.1"
                                         style="z-index: 2;">
                                        <img src="assets/images/rev-slider/Rectangle-8.png" style="width: 450px;">
                                    </div>

                                    <!-- LAYER NR. 2 -->
                                    <div class="tp-caption lfb ltb rs-parallaxlevel-0"
                                         data-x="40"
                                         data-y="120"
                                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                         data-speed="800"
                                         data-start="2100"
                                         data-easing="Power3.easeInOut"
                                         data-elementdelay="0.1"
                                         data-endelementdelay="0.1"
                                         style="z-index: 3; font-size: 32px; font-weight: 500; color: white; line-height: 1.2">
                                        Book a <br>meet-and-greet<br> with a sitter/nanny!
                                    </div>

                                    <!-- LAYER NR. 3 -->
                                    <div class="tp-caption lfb ltb rs-parallaxlevel-0"
                                         data-x="40"
                                         data-y="260"
                                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                         data-speed="800"
                                         data-start="2400"
                                         data-easing="Power3.easeInOut"
                                         data-elementdelay="0.1"
                                         data-endelementdelay="0.1"
                                         style="z-index: 4; color: white; font-size: 32px; font-weight: 300;line-height: 1.3">
                                        Our sitters/nannies<br>love kids and they<br>are <span style="font-weight: 500">background</span><br><span class="bold">checked</span> and<br>
                                        <span class="bold">mother-approved!</span>

                                    </div>

                                    <!-- LAYER NR. 4 -->
                                    <div class="tp-caption lfb ltb rs-parallaxlevel-0"
                                         data-x="40"
                                         data-y="490"
                                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                         data-speed="800"
                                         data-start="2600"
                                         data-easing="Power3.easeInOut"
                                         data-elementdelay="0.1"
                                         data-endelementdelay="0.1"
                                         style="z-index: 5; font-size: 32px;">
                                        <span class="main bold">Available 24/7.</span>
                                    </div>

                                   <!-- LAYER NR. 5 -->
                                    <div class="tp-caption corporateblacknormal sfr tp-resizeme rs-parallaxlevel-0"
                                         data-x="65"
                                         data-y="610"
                                         data-speed="600"
                                         data-start="2500"
                                         data-easing="Power3.easeInOut"
                                         data-splitout="none"
                                         data-elementdelay="0.1"
                                         data-endelementdelay="0.1"
                                         style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;color: white; font-size: 18px;">
                                        NO STARTUP FEES! JUST PAY US DIRECTLY WITH CREDIT CARD AND CLAIM IT OFF YOUR TAXES!
                                    </div>

                                </li>
                            </ul>
                            <div class="tp-bannertimer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="visible-xs element-height-100"></div>
    <section class="section" style="margin-top: -65px;">

        <div class="container">
            <div class="row color5 get-started-form">
                <div class="col-md-4 col-xs-12 element-top-10">
                    <h1 class="bigger element-left-20" style="color: white;">Get Started</h1>
                </div>
                <div class="col-md-8 col-xs-12">
                    <form class="form-inline element-top-30 element-bottom-30">
                        <div class="form-group" style="width: 60%; float: left;">
                            <label class="sr-only" for="phone-number">Email address</label>
                            <input type="text" class="form-control btn-lg call-me-text" id="phone-number" placeholder="Enter your phone">
                        </div>
                        <button type="submit" class="btn btn-default bold text-caps call-me-btn">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center element-top-70 os-animation bigger" data-os-animation="fadeIn"
                        data-os-animation-delay="0s">
                        Covered by 2M liability insurance
                    </h1>

                    <div class="divider-border divider-border-center element-top-10 element-bottom-10 os-animation"
                         data-os-animation="fadeIn" data-os-animation-delay="0.1s" style="height:3px;">
                        <div class="divider-border-inner" style="width:60px;">
                        </div>
                    </div>

                    <div class="list-container row element-bottom-20 os-animation animated fadeInUp" data-os-animation="fadeInUp" data-os-animation-delay="0.1s" style="animation-delay: 0.1s;">
                        <div class="col-md-4 element-top-40 element-bottom-20 text-center os-animation animated fadeInUp" data-os-animation="fadeInUp" data-os-animation-delay="0.1s" style="animation-delay: 0.1s;">
                            <span class="service-simple-image">
                                <img alt="Visualise" src="assets/images/happy-nanny/Forbes_logo.png" style="width: 60%">
                            </span>

                        </div>

                        <div class="col-md-4 element-top-40 element-bottom-20 text-center os-animation animated fadeInUp" data-os-animation="fadeInUp" data-os-animation-delay="0.2s" style="animation-delay: 0.2s;">
                            <span class="service-simple-image">
                                <img alt="Research" src="assets/images/happy-nanny/Parents-logo.png" style="width: 60%">
                            </span>

                        </div>

                        <div class="col-md-4 element-top-20 element-bottom-20 text-center os-animation animated fadeInUp" data-os-animation="fadeInUp" data-os-animation-delay="0.3s" style="animation-delay: 0.3s;">
                            <span class="service-simple-image">
                                <img alt="Develop" src="assets/images/happy-nanny/yahoo_news.png" style="width: 75%">
                            </span>


                        </div>
                    </div>


                </div>
            </div>

        </div>
    </section>
    <section class="section">

        <div class="background-overlay" style="background-color: rgba(245,250,248, 0.85);"></div>

        <div class="container" style="background-image: url(assets/images/happy-nanny/phone-back.png); background-repeat:no-repeat; ">
            <div class="row element-top-50 element-bottom-280" >
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <p class="text-left light element-top-60 element-bottom-60 os-animation big" data-os-animation="fadeIn"
                        data-os-animation-delay="0s">
                        While your out and about <br><span class="main bold">watch</span> your loved <span class="main bold">little ones</span><br> from your smartphone!
                    </p>

                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="background-media" data-0-top-bottom="background-position: 50% 50px"
             data-start="background-position: 50% -31px"
             style="background-image: url(assets/images/happy-nanny/back-03.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>
        <div class="background-overlay" style="background-color: rgba(245, 250, 248, .83);"></div>
        <div class="container container-vertical-middle">
            <div class="row vertical-middle">
                <div class="col-md-12">
                    <h1 class="text-center element-top-70 third element-bottom-50 os-animation bigger text-caps text-light" data-os-animation="fadeIn"
                        data-os-animation-delay="0s">
                        Contact Us
                    </h1>
                    <form id="contactForm" action="#" class="contact-form element-bottom-30">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-icon-group element-bottom-30">
                                    <label class="sr-only" for="name">Your Name<sup>*</sup></label>
                                    <input class="form-control border-third element-height-50 " id="name" name="name"
                                           placeholder="Your Name" type="text" required="required">
                                </div>
                                <div class="form-group form-icon-group element-bottom-30">
                                    <label class="sr-only text-light" for="email">E-mail</label>
                                    <input class="form-control border-third element-height-50" id="email" name="email"
                                           placeholder="Your Email" type="email" required="required">                                </div>
                                <div class="form-group form-icon-group element-bottom-30">
                                    <label class="sr-only text-light" for="phone">Phone</label>
                                    <input class="form-control border-third element-height-50" id="phone" name="phone"
                                           placeholder="Your Phone" type="text" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-icon-group">
                                    <label class="sr-only text-light" for="message">Coversheet</label>
                                    <textarea class="form-control border-third" id="message" name="message"
                                              placeholder="Your Message*" rows="8"
                                              required="required"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <input type="submit" value="SEND" class="btn btn-primary white"
                                   style="font-size: 24px; width: 200px;">
                        </div>
                        <div class="messages text-center"></div>
                    </form>
                </div>
            </div>
        </div>
    </section>

</article>


{% endblock %}