{% extends "layouts/corporate.html" %}

{% set title = "Happy Nanny" %}
{% set activeMenu = "Home" %}

{% block extrajs %}
<!-- build:js assets/js/revolution.min.js -->
<script type="text/javascript" src="scripts/tools.min.js"></script>
<script type="text/javascript" src="scripts/revolution.min.js"></script>
<!-- endbuild -->
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('.tp-banner').show().revolution(
            {
                delay: 7000,
                startwidth: 1170,
                startheight: 720,
                onHoverStop: "on", // Stop Banner Timer at Hover on Slide on/off
                thumbWidth: 100, // Thumb With and Height and Amount (only if navigation Tyope set to thumb !)
                thumbHeight: 50,
                thumbAmount: 3,
                hideThumbs: 0,
                navigationType: "none", // bullet, thumb, none
                navigationArrows: "solo", // nexttobullets, solo (old name verticalcentered), none
                navigationStyle: "round", // round,square,navbar,round-old,square-old,navbar-old, or any from the list in the docu (choose between 50+ different item), custom
                navigationHAlign: "center", // Vertical Align top,center,bottom
                navigationVAlign: "bottom", // Horizontal Align left,center,right
                navigationHOffset: 0,
                navigationVOffset: 20,
                soloArrowLeftHalign: "left",
                soloArrowLeftValign: "center",
                soloArrowLeftHOffset: 20,
                soloArrowLeftVOffset: 0,
                soloArrowRightHalign: "right",
                soloArrowRightValign: "center",
                soloArrowRightHOffset: 20,
                soloArrowRightVOffset: 0,
                touchenabled: "on", // Enable Swipe Function : on/off
                stopAtSlide: -1, // Stop Timer if Slide "x" has been Reached. If stopAfterLoops set to 0, then it stops already in the first Loop at slide X which defined. -1 means do not stop at any slide. stopAfterLoops has no sinn in this case.
                stopAfterLoops: -1, // Stop Timer if All slides has been played "x" times. IT will stop at THe slide which is defined via stopAtSlide:x, if set to -1 slide never stop automatic
                hideCaptionAtLimit: 0, // It Defines if a caption should be shown under a Screen Resolution ( Basod on The Width of Browser)
                hideAllCaptionAtLilmit: 0, // Hide all The Captions if Width of Browser is less then this value
                hideSliderAtLimit: 0, // Hide the whole slider, and stop also functions if Width of Browser is less than this value
                fullWidth: "on",
                shadow: 0
            });
    });
</script>
{% endblock %}

{% block content %}
<article>

    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="list-container row element-bottom-20 os-animation animated fadeInUp" data-os-animation="fadeInUp" data-os-animation-delay="0.1s" style="animation-delay: 0.1s;">
                        <div class="col-md-4 element-top-40 element-bottom-20 text-center os-animation animated fadeInUp" data-os-animation="fadeInUp" data-os-animation-delay="0.1s" style="animation-delay: 0.1s;">
                            <span class="service-simple-image">
                                <img alt="Student-1" src="assets/images/happy-nanny/girl-1.png">
                            </span>
                            <div class="row">
                                <div class="col-md-6 col-xs-8 text-left">
                                    <p class="element-left-30">
                                    <strong>Natalie Portman,</strong><br>
                                    Student 24
                                    </p>                                </div>
                                <div class="col-md-6 col-xs-4 text-right element-top-10" style="padding-right: 20px;">
                                    <i class="fa fa-phone element-right-20" style="font-size: 24px"></i>
                                    <i class="fa fa-envelope-o" style="font-size: 24px"></i>
                                </div>
                            </div>


                        </div>

                        <div class="col-md-8 element-top-40 element-bottom-20 text-left os-animation animated fadeInUp" data-os-animation="fadeInUp" data-os-animation-delay="0.2s" style="animation-delay: 0.2s;">
                            <h1 class="big">
                                On-demand<br>
                                <span class="main">childcare</span><br>
                                your kids will love<br> <span class="light"> available</span> <span class="main">24/7.</span>
                            </h1>
                            <p>Available in New York, adding more cities as rapidly as we can.</p>

                            <div class="text-left">
                                <input type="submit" value="Book Now" class="btn btn-primary text-caps btn-lg" style="font-size: 24px; width: 200px;">
                            </div>

                        </div>
                    </div>

                    <div class="list-container row element-bottom-20 os-animation animated fadeInUp" data-os-animation="fadeInUp" data-os-animation-delay="0.1s" style="animation-delay: 0.1s;">
                        <div class="col-md-6 element-top-40 element-bottom-20 text-left os-animation animated fadeInUp" data-os-animation="fadeInUp" data-os-animation-delay="0.1s" style="animation-delay: 0.1s;">
                            <h1 class="bold">
                                Tax-deductible.<br>
                                <span class="main">Save thousands</span> per year<br>
                                and make more money<br>
                                each year.
                            </h1>
                            <hr>
                            <form action="#">
                            <p>
                                See how much you can save per year:
                            </p>
                            <strong>
                                What do you make per year?
                            </strong>
                                <p>
                                <input type="text" value="$40.000" name="money-per-year" style="padding-left: 10px; color: #333; background-color: #dcfaf5; width: 250px"/>
                                </p>
                                <p>How many hours do you need a childcare provider to work?</p>
                                <p>
                                    <input type="range" min="1" max="40" step="1" class="element-right-20" oninput="outputUpdate(value)" name="hours" id="hours" value="10" style="width: 60%; float: left">
                                    <output for="hours" id="hours-out" class="element-top-20">10h</output>
                                </p>
                                <p style="clear: both;">
                                    You will make <span class="main">$40,000</span> per year.</p>
                                <p>
                                    Your take home pay will be <span class="main">$400.00</span> per week.
                                </p>
                                <p class="small">
                                    No startup fees! Just pay us directly with credit card and claim it off your taxes!
                                </p>
                            </form>


                        </div>
                        <div class="figure col-md-6 fade-in element-bottom-20 figcaption-bottom text-left fade-in os-animation animated fadeIn" data-os-animation="fadeIn" data-os-animation-delay="0.1s" style="animation-delay: 0.1s;">
                            <div class="figure-image">
                                <img alt="Mother with daughter" src="assets/images/happy-nanny/mother-son.png">

                                <div class="figure-overlay area-90">
                                    <div class="figure-overlay-container vertical-middle">
                                        <h1 class="big element-top-80 text-center" style="color: white;display: block">Get Started</h1>
                                            <div style="display: block;">
                                                <form class="form element-top-30 element-bottom-30 text-center">
                                                    <div class="form-group" >
                                                        <label class="sr-only" for="phone-number">Email address</label>
                                                        <input type="text" class="form-control element-height-60" id="phone-number" placeholder="Enter your phone" style="width: 250px; margin: 0 auto;">
                                                    </div>
                                                    <button type="submit" class="btn btn-primary bold btn-lg text-caps">Send</button>
                                                </form>
                                            </div>


                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>
    <section class="section">
        <div class="background-overlay secondary-back"></div>

        <div class="container container-vertical-middle">
            <div class="row vertical-middle">
                <div class="col-md-12">
                    <h2 class="text-center element-top-40 element-bottom-40 text-light os-animation big bold animated fadeInLeft" data-os-animation="fadeInLeft" data-os-animation-delay="0s" style="animation-delay: 0s;">
                        Safety is paramount with our children. We all have them.<br>Our screening is top notch.
                    </h2>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="background-media skrollable skrollable-between" data-0-top-bottom="background-position: 50% 50px" data-start="background-position: 50% -31px" style="background-image: url(assets/images/happy-nanny/women.jpg); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; background-position: 50% 25.967px;">
        </div>

        <div class="background-overlay" style="background-color: rgba(245,250,248, 0.90);"></div>
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center element-top-70 os-animation bigger animated fadeIn" data-os-animation="fadeIn" data-os-animation-delay="0s" style="animation-delay: 0s;">
                        We get all our nannies on demand and pick only<br> the best.
                    </h1>

                    <div class="divider-border divider-border-center element-top-10 element-bottom-40 os-animation animated fadeIn" data-os-animation="fadeIn" data-os-animation-delay="0.1s" style="height: 3px; animation-delay: 0.1s;">
                        <div class="divider-border-inner" style="width:60px;">
                        </div>
                    </div>

                    <div class="row element-bottom-20 os-animation animated fadeInUp" data-os-animation="fadeInUp" data-os-animation-delay="0.1s" style="animation-delay: 0.1s;">
                        <div class="col-md-4 col-sm-4 element-bottom-20 text-center os-animation animated fadeInUp" data-os-animation="fadeInUp" data-os-animation-delay="0.1s" style="animation-delay: 0.1s;">
                            <span class="service-simple-image">
                                <img alt="Visualise" src="assets/images/happy-nanny/icon-01.png" style="width: 60%;">
                            </span>

                            <p>Background checked and<br>
                                100% safe</p>
                        </div>

                        <div class="col-md-4 col-sm-4 element-bottom-20 text-center os-animation animated fadeInUp" data-os-animation="fadeInUp" data-os-animation-delay="0.2s" style="animation-delay: 0.2s;">
                            <span class="service-simple-image">
                                <img alt="Research" src="assets/images/happy-nanny/icon-02.png" style="width: 45%;">
                            </span>

                            <p>Each is evaluated by an expert in<br>
                                childcare / licensed social worker.</p>
                        </div>

                        <div class="col-md-4 col-sm-4 element-bottom-20 text-center os-animation animated fadeInUp" data-os-animation="fadeInUp" data-os-animation-delay="0.3s" style="animation-delay: 0.3s;">
                            <span class="service-simple-image">
                                <img alt="Develop" src="assets/images/happy-nanny/icon-03.png" style="width: 50%">
                            </span>

                            <p>Share with families near you<br>
                                and save even more!</p>
                        </div>
                    </div>
                </div>
                <div class="text-center element-bottom-40">
                    <input type="submit" value="BOOK NOW" class="btn btn-primary" style="font-size: 24px; width: 200px;">
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center element-top-30 os-animation bigger" data-os-animation="fadeIn"
                        data-os-animation-delay="0s">
                        Covered by 2M liability insurance
                    </h1>

                    <div class="divider-border divider-border-center element-top-10 element-bottom-10 os-animation"
                         data-os-animation="fadeIn" data-os-animation-delay="0.1s" style="height:3px;">
                        <div class="divider-border-inner" style="width:60px;">
                        </div>
                    </div>

                    <div class="list-container row element-bottom-20 os-animation animated fadeInUp" data-os-animation="fadeInUp" data-os-animation-delay="0.1s" style="animation-delay: 0.1s;">
                        <div class="col-md-4 col-sm-4 element-top-40 element-bottom-20 text-center os-animation animated fadeInUp" data-os-animation="fadeInUp" data-os-animation-delay="0.1s" style="animation-delay: 0.1s;">
                            <span class="service-simple-image">
                                <img alt="Visualise" src="assets/images/happy-nanny/Forbes_logo.png" style="width: 60%">
                            </span>

                        </div>

                        <div class="col-md-4 col-sm-4 element-top-40 element-bottom-20 text-center os-animation animated fadeInUp" data-os-animation="fadeInUp" data-os-animation-delay="0.2s" style="animation-delay: 0.2s;">
                            <span class="service-simple-image">
                                <img alt="Research" src="assets/images/happy-nanny/Parents-logo.png" style="width: 60%">
                            </span>

                        </div>

                        <div class="col-md-4 col-sm-4 element-top-20 element-bottom-20 text-center os-animation animated fadeInUp" data-os-animation="fadeInUp" data-os-animation-delay="0.3s" style="animation-delay: 0.3s;">
                            <span class="service-simple-image">
                                <img alt="Develop" src="assets/images/happy-nanny/yahoo_news.png" style="width: 75%">
                            </span>


                        </div>
                    </div>


                </div>
            </div>

        </div>
    </section>
    <section class="section">

        <div class="background-overlay" style="background-color: rgba(245,250,248, 0.85);"></div>

        <div class="container" style="background-image: url(assets/images/happy-nanny/phone-back.png); background-repeat:no-repeat; ">
            <div class="row element-top-50 element-bottom-280" >
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <p class="text-left light element-top-60 element-bottom-60 os-animation big" data-os-animation="fadeIn"
                        data-os-animation-delay="0s">
                        While your out and about <br><span class="main bold">watch</span> your loved <span class="main bold">little ones</span><br> from your smartphone!
                    </p>

                </div>
            </div>
        </div>
    </section>
    <section class="section" id="twitter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-left element-top-70 os-animation bigger light animated fadeIn" data-os-animation="fadeIn" data-os-animation-delay="0s" style="animation-delay: 0s;">
                        <img src="assets/images/happy-nanny/twitter-icon.png" style="width: 64px;"/>
                        What people are saying about us:
                    </h1>

                    <div class="divider-border divider-border-center element-top-10 element-bottom-40 os-animation animated fadeIn" data-os-animation="fadeIn" data-os-animation-delay="0.1s" style="height: 3px; animation-delay: 0.1s;">
                        <div class="divider-border-inner" style="width:60px;">
                        </div>
                    </div>

                    <div class="row element-bottom-20 os-animation animated fadeInUp" data-os-animation="fadeInUp" data-os-animation-delay="0.1s" style="animation-delay: 0.1s;">
                        <div class="col-md-3 col-sm-4 element-bottom-20 text-left os-animation animated fadeInUp" data-os-animation="fadeInUp" data-os-animation-delay="0.1s" style="animation-delay: 0.1s;">
                            <div class="row">
                               <div class="col-md-1">
                                   <img src="assets/images/happy-nanny/twitterpost-icon-01.png" style="max-width: inherit" width="20px;"/>
                               </div>
                               <div class="col-md-10 twitter-small-size">
                                   B <span class="twitter-color1"> @BBabyMag, Jan 27</span>
                                   <p>Ten top tips for hiring a maternby nurse or <span class="twitter-color2">#nanny</span> from The Maternty Nurse<br>
                                   Association <span class="twitter-color2">@MNassociation w.ty/CvMB3084JA</span></p>
                               </div>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-1 col-md-10">
                                    <img alt="Visualise" src="assets/images/happy-nanny/twitter-01.png"/>
                                </div>
                                <div class="clearfix"></div>
                                <i class="twitter-icon-size element-left-40 fa fa-reply twitter-color1" aria-hidden="true"></i>
                                <i class="twitter-icon-size element-left-20 fa fa-refresh twitter-color1" aria-hidden="true">&nbsp;5</i>
                                <i class="twitter-icon-size element-left-20 fa fa-heart twitter-color1" aria-hidden="true">&nbsp;1</i>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 element-bottom-20 text-left os-animation animated fadeInUp" data-os-animation="fadeInUp" data-os-animation-delay="0.1s" style="animation-delay: 0.1s;">
                            <div class="row">
                                <div class="col-md-1">
                                    <img src="assets/images/happy-nanny/twitterpost-icon-02.png" style="max-width: inherit" width="20px;"/>
                                </div>
                                <div class="col-md-10 twitter-small-size">
                                    Wagepoint <span class="twitter-color1"> @Wagepoint, Jan 27</span>
                                    <p>3 Things Every <span class="twitter-color2">#Nanny, #Au</span> Pair Slef Employed Worker Should Know - inc.<br>
                                        FREE tools like <span class="twitter-color2">@SlickPieInc @ZipBooks hubs.ly/H05sRMI0</span></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-1 col-md-10">
                                    <img alt="Visualise" src="assets/images/happy-nanny/twitter-02.png"/>
                                </div>
                                <div class="clearfix"></div>
                                <i class="twitter-icon-size element-left-40 fa fa-reply twitter-color1" aria-hidden="true"></i>
                                <i class="twitter-icon-size element-left-20 fa fa-refresh twitter-color1" aria-hidden="true">&nbsp;1</i>
                                <i class="twitter-icon-size element-left-20 fa fa-heart twitter-color1" aria-hidden="true">&nbsp;2</i>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 element-bottom-20 text-left os-animation animated fadeInUp" data-os-animation="fadeInUp" data-os-animation-delay="0.1s" style="animation-delay: 0.1s;">
                            <div class="row">
                                <div class="col-md-1">
                                    <img src="assets/images/happy-nanny/twitterpost-icon-03.png" style="max-width: inherit" width="20px;"/>
                                </div>
                                <div class="col-md-10 twitter-small-size" style="padding-right: 0">
                                    Morton Michel <span class="twitter-color1"> @MortonMichel, Jan 26</span>
                                    <p>We have helped to created the new and exciting <span class="twitter-color2">#nanny</span>Zone at <span class="twitter-color2">@childcareexpo</span><br>
                                        Londonl Register for your FREE ticket-<span class="twitter-color2">livebuzzreg.co.uk/2017/child17/...</span></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-1 col-md-10">
                                    <img alt="Visualise" src="assets/images/happy-nanny/twitter-03.png"/>
                                </div>
                                <div class="clearfix"></div>
                                <i class="twitter-icon-size element-left-40 fa fa-reply twitter-color1" aria-hidden="true"></i>
                                <i class="twitter-icon-size element-left-20 fa fa-refresh twitter-color1" aria-hidden="true">&nbsp;1</i>
                                <i class="twitter-icon-size element-left-20 fa fa-heart twitter-color1" aria-hidden="true">&nbsp;2</i>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 element-bottom-20 text-left os-animation animated fadeInUp" data-os-animation="fadeInUp" data-os-animation-delay="0.1s" style="animation-delay: 0.1s;">
                            <hr style="margin: 0 0 5px">
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="assets/images/happy-nanny/twitterpost-icon-04.png" style="max-width: inherit"/>
                                </div>
                                <div class="col-md-10 twitter-middle-size" style="padding-right: 0">
                                    Lynlyn Sarsaba <span class="twitter-color1"> @LynlynSaraba &middot; Jan 26</span>
                                    <p class="element-bottom-0">I'm still waiting here in school<br>
                                        <span class="twitter-color2">#nunny</span></p>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-offset-2 col-md-10">
                                    <i class="twitter-icon-size fa fa-reply twitter-color1" aria-hidden="true"></i>
                                    <i class="twitter-icon-size element-left-20 fa fa-refresh twitter-color1" aria-hidden="true"></i>
                                    <i class="twitter-icon-size element-left-20 fa fa-heart twitter-color1" aria-hidden="true">&nbsp;2</i>
                                </div>
                            </div>
                            <hr style="margin: 0 0 5px">
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="assets/images/happy-nanny/twitterpost-icon-05.png" style="max-width: inherit"/>
                                </div>
                                <div class="col-md-10 twitter-middle-size" style="padding-right: 0">
                                    Kaitlin B Stammetti <span class="twitter-color1"> @isthatkaitlin &middot; Jan 25</span>
                                    <p class="element-bottom-0">Just explained to the 2 yr old I <span class="twitter-color2">#nanny</span>that her and her 4 day old syster SHARE a
                                        mommy. She said "I need some alone time" <span class="twitter-color2">#thingskidssay</span></p>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-offset-2 col-md-10">
                                <i class="twitter-icon-size fa fa-reply twitter-color1" aria-hidden="true"></i>
                                <i class="twitter-icon-size element-left-20 fa fa-refresh twitter-color1" aria-hidden="true"></i>
                                <i class="twitter-icon-size element-left-20 fa fa-heart twitter-color1" aria-hidden="true">&nbsp;4</i>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="background-media" data-0-top-bottom="background-position: 50% 50px"
             data-start="background-position: 50% -31px"
             style="background-image: url(assets/images/happy-nanny/back-03.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>
        <div class="background-overlay" style="background-color: rgba(245, 250, 248, .83);"></div>
        <div class="container container-vertical-middle">
            <div class="row vertical-middle">
                <div class="col-md-12">
                    <h1 class="text-center element-top-70 third element-bottom-50 os-animation bigger text-caps text-light" data-os-animation="fadeIn"
                        data-os-animation-delay="0s">
                        Contact Us
                    </h1>
                    <form id="contactForm" action="#" class="contact-form element-bottom-30">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-icon-group element-bottom-30">
                                    <label class="sr-only" for="name">Your Name<sup>*</sup></label>
                                    <input class="form-control border-third element-height-50 " id="name" name="name"
                                           placeholder="Your Name" type="text" required="required">
                                </div>
                                <div class="form-group form-icon-group element-bottom-30">
                                    <label class="sr-only text-light" for="email">E-mail</label>
                                    <input class="form-control border-third element-height-50" id="email" name="email"
                                           placeholder="Your Email" type="email" required="required">                                </div>
                                <div class="form-group form-icon-group element-bottom-30">
                                    <label class="sr-only text-light" for="phone">Phone</label>
                                    <input class="form-control border-third element-height-50" id="phone" name="phone"
                                           placeholder="Your Phone" type="text" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-icon-group">
                                    <label class="sr-only text-light" for="message">Coversheet</label>
                                    <textarea class="form-control border-third" id="message" name="message"
                                              placeholder="Your Message*" rows="8"
                                              required="required"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <input type="submit" value="SEND" class="btn btn-primary white"
                                   style="font-size: 24px; width: 200px;">
                        </div>
                        <div class="messages text-center"></div>
                    </form>
                </div>
            </div>
        </div>
    </section>

</article>


{% endblock %}