{% extends "layouts/corporate.html" %}

{% set title = "Corporate" %}
{% set activeMenu = "Home" %}

{% block extrajs %}
<!-- build:js assets/js/revolution.min.js -->
<script type="text/javascript" src="scripts/tools.min.js"></script>
<script type="text/javascript" src="scripts/revolution.min.js"></script>
<!-- endbuild -->

{% endblock %}

{% block content %}
<article>
    <section class="section">
        <div class="visible-xs element-height-20"></div>
        <div class="visible-sm element-height-30"></div>
        <div class="visible-md element-height-50"></div>
        <div class="visible-lg element-height-70"></div>

        <div class="container">
            <div class="row element-bottom-40">
                <div class="col-md-12">
                    <h1 class="text-center element-top-0 os-animation big" data-os-animation="fadeIn"
                        data-os-animation-delay="0s">
                        Parents love us, everywhere.
                    </h1>

                    <div class="divider-border divider-border-center element-top-10 element-bottom-30 os-animation"
                         data-os-animation="fadeIn" data-os-animation-delay="0.1s" style="height:3px;">
                        <div class="divider-border-inner" style="width:60px;">
                        </div>
                    </div>

                    <div class="list-container row element-top-0 element-bottom-0 os-animation testimonials-background"
                         data-os-animation="fadeInUp" data-os-animation-delay="0.1s">
                        <div class="col-md-6 element-bottom-0 text-left os-animation"
                             data-os-animation="fadeInUp" data-os-animation-delay="0.1s"
                             >
                            <div class="row" style="background-color: white;">
                                <div class="col-md-7">
                                    <img alt="Testimonials-01" src="assets/images/happy-nanny/testimonials-01.png">
                                </div>
                                <div class="col-md-5">
                                    <h3 class="element-top-10">Jack & Linda Russel</h3>
                                    <p>Orlando</p>
                                    <p>
                                        <img src="assets/images/happy-nanny/rate.png" style="width: 32px;"/>
                                        <img src="assets/images/happy-nanny/rate.png" style="width: 32px;"/>
                                    </p>

                                    <div class="row">
                                        <div class="col-md-5">
                                            <p>2 kids</p>
                                        </div>
                                        <div class="col-md-7 text-right hidden-xs">
                                            <a class="btn btn-link btn-normal os-animation animated fadeIn"
                                               data-os-animation="fadeIn" data-os-animation-delay="0.4s"
                                               href="#" target="_self"
                                               style="animation-delay: 0.4s;">
                                                View more
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6 element-bottom-0 text-center os-animation" data-os-animation="fadeInUp"
                             data-os-animation-delay="0.2s">
                            <blockquote class="text-left element-top-0 element-bottom-0 os-animation animated fadeIn"
                                        data-os-animation="fadeIn" data-os-animation-delay="0s"
                                        style="animation-delay: 0s;">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                    pariatur.</p>
                            </blockquote>
                        </div>

                    </div>
                    <div class="visible-xs element-height-30"></div>
                    <div class="list-container row element-top-0 element-bottom-0 os-animation testimonials-background"
                         data-os-animation="fadeInUp" data-os-animation-delay="0.1s">
                        <div class="col-md-6 element-bottom-0 text-left os-animation"
                             data-os-animation="fadeInUp" data-os-animation-delay="0.1s"
                             >
                            <div class="row" style="background-color: white;">
                                <div class="col-md-7">
                                    <img alt="Testimonials-01" src="assets/images/happy-nanny/testimonials-02.png">
                                </div>
                                <div class="col-md-5">
                                    <h3 class="element-top-10">Jay & Chelsea Prutt</h3>
                                    <p>Washington</p>
                                    <p>
                                        <img src="assets/images/happy-nanny/rate.png" style="width: 32px;"/>
                                        <img src="assets/images/happy-nanny/rate.png" style="width: 32px;"/>
                                        <img src="assets/images/happy-nanny/rate.png" style="width: 32px;"/>
                                    </p>

                                    <div class="row">
                                        <div class="col-md-5">
                                            <p>3 kids</p>
                                        </div>
                                        <div class="col-md-7 text-right hidden-xs">
                                            <a class="btn btn-link btn-normal os-animation animated fadeIn"
                                               data-os-animation="fadeIn" data-os-animation-delay="0.4s"
                                               href="#" target="_self"
                                               style="animation-delay: 0.4s;">
                                                View more
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6 element-bottom-0 text-center os-animation" data-os-animation="fadeInUp"
                             data-os-animation-delay="0.2s">
                            <blockquote class="text-left element-top-0 element-bottom-0 os-animation animated fadeIn"
                                        data-os-animation="fadeIn" data-os-animation-delay="0s"
                                        style="animation-delay: 0s;">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                    pariatur.</p>
                            </blockquote>
                        </div>

                    </div>
                    <div class="visible-xs element-height-30"></div>
                    <div class="list-container row element-top-0 element-bottom-0 os-animation testimonials-background"
                         data-os-animation="fadeInUp" data-os-animation-delay="0.1s">
                        <div class="col-md-6 element-bottom-0 text-left os-animation"
                             data-os-animation="fadeInUp" data-os-animation-delay="0.1s">
                            <div class="row" style="background-color: white;">
                                <div class="col-md-7">
                                    <img alt="Testimonials-01" src="assets/images/happy-nanny/testimonials-03.png">
                                </div>
                                <div class="col-md-5">
                                    <h3 class="element-top-10">Roberth and Samantha Smith</h3>
                                    <p>Maiami</p>
                                    <p>
                                        <img src="assets/images/happy-nanny/rate.png" style="width: 32px;"/>
                                        <img src="assets/images/happy-nanny/rate.png" style="width: 32px;"/>
                                    </p>

                                    <div class="row">
                                        <div class="col-md-5">
                                            <p>2 kids</p>
                                        </div>
                                        <div class="col-md-7 text-right hidden-xs">
                                            <a class="btn btn-link btn-normal os-animation animated fadeIn"
                                               data-os-animation="fadeIn" data-os-animation-delay="0.4s"
                                               href="#" target="_self"
                                               style="animation-delay: 0.4s;">
                                                View more
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6 element-bottom-0 text-center os-animation" data-os-animation="fadeInUp"
                             data-os-animation-delay="0.2s">
                            <blockquote class="text-left element-top-0 element-bottom-0 os-animation animated fadeIn"
                                        data-os-animation="fadeIn" data-os-animation-delay="0s"
                                        style="animation-delay: 0s;">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                    pariatur.</p>
                            </blockquote>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="background-overlay grid-overlay-0" style="background-color: rgba(0,0,0,0);"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-left element-top-50 os-animation big"
                        data-os-animation="fadeIn" data-os-animation-delay="0s">
                        <img src="assets/images/happy-nanny/twitter-icon.png" style="width: 64px;"/>
                        Twitter testimonials
                    </h1>
                    <div class="list-container row element-top-60 element-bottom-20 os-animation animated fadeIn"
                         data-os-animation="fadeIn" data-os-animation-delay="0s" style="animation-delay: 0s;">
                        <div class="col-md-6 element-bottom-20 text-left os-animation animated fadeIn"
                             data-os-animation="fadeIn" data-os-animation-delay="0s" style="animation-delay: 0s;">
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="assets/images/happy-nanny/carrie_jean_melvin.jpg" alt="Miranda Ker">
                                    <h3>Miranda Ker</h3>
                                </div>

                                <div class="col-md-9">
                                    <blockquote class="text-left element-top-0 element-bottom-0 os-animation animated fadeIn"
                                                data-os-animation="fadeIn" data-os-animation-delay="0s"
                                                style="animation-delay: 0s;">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 element-bottom-20 text-left os-animation animated fadeIn"
                             data-os-animation="fadeIn" data-os-animation-delay="0s" style="animation-delay: 0s;">
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="assets/images/happy-nanny/sarah.jpg" alt="Sarrah Perry">
                                    <h3>Sarrah Perry</h3>
                                </div>

                                <div class="col-md-9">
                                    <blockquote class="text-left element-top-0 element-bottom-0 os-animation animated fadeIn"
                                                data-os-animation="fadeIn" data-os-animation-delay="0s"
                                                style="animation-delay: 0s;">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 element-bottom-20 text-left os-animation animated fadeIn"
                             data-os-animation="fadeIn" data-os-animation-delay="0s" style="animation-delay: 0s;">
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="assets/images/happy-nanny/lind.jpg" alt="Visualise">
                                    <h3>Lind Kurt</h3>
                                </div>

                                <div class="col-md-9">
                                    <blockquote class="text-left element-top-0 element-bottom-0 os-animation animated fadeIn"
                                                data-os-animation="fadeIn" data-os-animation-delay="0s"
                                                style="animation-delay: 0s;">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 element-bottom-20 text-left os-animation animated fadeIn"
                             data-os-animation="fadeIn" data-os-animation-delay="0s" style="animation-delay: 0s;">
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="assets/images/happy-nanny/jack-smith.jpg" alt="Jack Smith">
                                    <h3>Jack Smith</h3>
                                </div>

                                <div class="col-md-9">
                                    <blockquote class="text-left element-top-0 element-bottom-0 os-animation animated fadeIn"
                                                data-os-animation="fadeIn" data-os-animation-delay="0s"
                                                style="animation-delay: 0s;">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                                    </blockquote>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="background-overlay grid-overlay-0" style="background-color: rgba(0,0,0,0);"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-left os-animation big"
                        data-os-animation="fadeIn" data-os-animation-delay="0s">
                        Pres mention
                    </h1>
                    <div class="row element-top-60 element-bottom-40 os-animation animated fadeIn"
                         data-os-animation="fadeIn" data-os-animation-delay="0s" style="animation-delay: 0s;">
                        <div class="col-md-12 element-bottom-40 text-left os-animation animated fadeIn"
                             data-os-animation="fadeIn" data-os-animation-delay="0s" style="animation-delay: 0s;">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="assets/images/happy-nanny/nanny-doing-crafts-with-kids_bcvo9p.jpg" alt="Miranda Ker">
                                </div>

                                <div class="col-md-8">
                                    <h2>Press article title</h2>
                                    <h3 class="element-top-10">Press name</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                                    <a class="btn btn-link btn-normal element-top-10" href="#">More...</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 element-bottom-0 text-left os-animation animated fadeIn"
                             data-os-animation="fadeIn" data-os-animation-delay="0s" style="animation-delay: 0s;">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="assets/images/happy-nanny/banner1-1440x580.jpg" alt="Miranda Ker">
                                </div>

                                <div class="col-md-8">
                                    <h2>Press article title</h2>
                                    <h3 class="element-top-10">Press name</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                                    <a class="btn btn-link btn-normal element-top-10" href="#">More...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="text-center element-top-0 element-bottom-40">
            <input type="submit" value="Contact us" class="btn btn-primary btn-lg text-caps" style="font-size: 24px; width: 200px;">
        </div>
    </section>

</article>


{% endblock %}