{% extends "layouts/corporate.html" %}

{% set title = "Happy Nanny" %}
{% set activeMenu = "Home" %}

{% block extrajs %}
<!-- build:js assets/js/revolution.min.js -->
<script type="text/javascript" src="scripts/tools.min.js"></script>
<script type="text/javascript" src="scripts/revolution.min.js"></script>
<!-- endbuild -->
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('.tp-banner').show().revolution(
            {
                delay: 7000,
                startwidth: 1170,
                startheight: 480,
                onHoverStop: "on", // Stop Banner Timer at Hover on Slide on/off
                thumbWidth: 100, // Thumb With and Height and Amount (only if navigation Tyope set to thumb !)
                thumbHeight: 50,
                thumbAmount: 3,
                hideThumbs: 0,
                navigationType: "bullet", // bullet, thumb, none
                navigationArrows: "solo", // nexttobullets, solo (old name verticalcentered), none
                navigationStyle: "round", // round,square,navbar,round-old,square-old,navbar-old, or any from the list in the docu (choose between 50+ different item), custom
                navigationHAlign: "center", // Vertical Align top,center,bottom
                navigationVAlign: "bottom", // Horizontal Align left,center,right
                navigationHOffset: 0,
                navigationVOffset: 20,
                soloArrowLeftHalign: "left",
                soloArrowLeftValign: "center",
                soloArrowLeftHOffset: 20,
                soloArrowLeftVOffset: 0,
                soloArrowRightHalign: "right",
                soloArrowRightValign: "center",
                soloArrowRightHOffset: 20,
                soloArrowRightVOffset: 0,
                touchenabled: "on", // Enable Swipe Function : on/off
                stopAtSlide: -1, // Stop Timer if Slide "x" has been Reached. If stopAfterLoops set to 0, then it stops already in the first Loop at slide X which defined. -1 means do not stop at any slide. stopAfterLoops has no sinn in this case.
                stopAfterLoops: -1, // Stop Timer if All slides has been played "x" times. IT will stop at THe slide which is defined via stopAtSlide:x, if set to -1 slide never stop automatic
                hideCaptionAtLimit: 0, // It Defines if a caption should be shown under a Screen Resolution ( Basod on The Width of Browser)
                hideAllCaptionAtLilmit: 0, // Hide all The Captions if Width of Browser is less then this value
                hideSliderAtLimit: 0, // Hide the whole slider, and stop also functions if Width of Browser is less than this value
                fullWidth: "on",
                shadow: 0
            });
    });
</script>
{% endblock %}

{% block content %}
<article>
    <section class="section">

        <div class="container-fullwidth">
            <div class="row">
                <div class="col-md-12">
                    <div class="fullwidthbanner-container">
                        <div class="tp-banner">
                            <ul>    <!-- SLIDE  -->
                                <li data-transition="fade" data-slotamount="5" data-masterspeed="500"
                                    data-saveperformance="on" data-title="Intro Slide">
                                    <!-- MAIN IMAGE -->
                                    <img src="assets/images/corporate/s09.jpg" alt="slidebg1"
                                         data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                                    <!-- LAYERS -->

                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption lfb ltb rs-parallaxlevel-0"
                                         data-x="0"
                                         data-y="0"
                                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                         data-speed="800"
                                         data-start="1800"
                                         data-easing="Power3.easeInOut"
                                         data-elementdelay="0.1"
                                         data-endelementdelay="0.1"
                                         style="z-index: 2;">
                                        <img src="assets/images/corporate/s10.png">
                                    </div>

                                    <!-- LAYER NR. 2 -->
                                    <div class="tp-caption lfb ltb rs-parallaxlevel-0"
                                         data-x="0"
                                         data-y="0"
                                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                         data-speed="800"
                                         data-start="2100"
                                         data-easing="Power3.easeInOut"
                                         data-elementdelay="0.1"
                                         data-endelementdelay="0.1"
                                         style="z-index: 3;">
                                        <img src="assets/images/corporate/s11.png" alt="">
                                    </div>

                                    <!-- LAYER NR. 3 -->
                                    <div class="tp-caption lfb ltb rs-parallaxlevel-0"
                                         data-x="0"
                                         data-y="0"
                                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                         data-speed="800"
                                         data-start="2400"
                                         data-easing="Power3.easeInOut"
                                         data-elementdelay="0.1"
                                         data-endelementdelay="0.1"
                                         style="z-index: 4;">
                                        <img src="assets/images/corporate/s12.png">
                                    </div>

                                    <!-- LAYER NR. 4 -->
                                    <div class="tp-caption lfb ltb rs-parallaxlevel-0"
                                         data-x="0"
                                         data-y="0"
                                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                         data-speed="800"
                                         data-start="2600"
                                         data-easing="Power3.easeInOut"
                                         data-elementdelay="0.1"
                                         data-endelementdelay="0.1"
                                         style="z-index: 5;">
                                        <img src="assets/images/corporate/s13.png" alt="">
                                    </div>

                                    <!-- LAYER NR. 5 -->
                                    <div class="tp-caption lfb ltb rs-parallaxlevel-0"
                                         data-x="0"
                                         data-y="0"
                                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                         data-speed="800"
                                         data-start="2700"
                                         data-easing="Power3.easeInOut"
                                         data-elementdelay="0.1"
                                         data-endelementdelay="0.1"
                                         style="z-index: 6;"><img src="assets/images/corporate/s14.png" alt="">
                                    </div>

                                    <!-- LAYER NR. 6 -->
                                    <div class="tp-caption corporateblackbig sfr tp-resizeme rs-parallaxlevel-0"
                                         data-x="640"
                                         data-y="100"
                                         data-speed="600"
                                         data-start="800"
                                         data-easing="Power3.easeInOut"
                                         data-splitin="chars"
                                         data-splitout="none"
                                         data-elementdelay="0.1"
                                         data-endelementdelay="0.1"
                                         style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">
                                        EASY TO
                                    </div>

                                    <!-- LAYER NR. 7 -->
                                    <div class="tp-caption corporateblackbigstrong sfr tp-resizeme rs-parallaxlevel-0"
                                         data-x="860"
                                         data-y="100"
                                         data-speed="600"
                                         data-start="1400"
                                         data-easing="Power3.easeInOut"
                                         data-splitin="chars"
                                         data-splitout="none"
                                         data-elementdelay="0.1"
                                         data-endelementdelay="0.1"
                                         style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;">
                                        CUSTOMISE
                                    </div>

                                    <!-- LAYER NR. 8 -->
                                    <div class="tp-caption corporateblacknormal sfr tp-resizeme rs-parallaxlevel-0"
                                         data-x="665"
                                         data-y="200"
                                         data-speed="600"
                                         data-start="2500"
                                         data-easing="Power3.easeInOut"
                                         data-splitout="none"
                                         data-elementdelay="0.1"
                                         data-endelementdelay="0.1"
                                         style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">
                                        Lambda is ultra flexible and lets you<br> create stunning pages easilyfor any
                                        <br> kind of site out of the box.
                                    </div>

                                    <!-- LAYER NR. 9 -->
                                    <div class="tp-caption corporatebluebutton lfb tp-resizeme rs-parallaxlevel-0"
                                         data-x="700"
                                         data-y="380"
                                         data-speed="700"
                                         data-start="3500"
                                         data-easing="Power3.easeInOut"
                                         data-splitout="none"
                                         data-elementdelay="0.1"
                                         data-endelementdelay="0.1"
                                         style="z-index: 10; max-width: auto; max-height: auto; white-space: nowrap;">
                                        <a href="#">GET IT NOW</a>
                                    </div>

                                    <!-- LAYER NR. 10 -->
                                    <div class="tp-caption corporateblackbutton lfb tp-resizeme rs-parallaxlevel-0"
                                         data-x="920"
                                         data-y="380"
                                         data-speed="700"
                                         data-start="3800"
                                         data-easing="Power3.easeInOut"
                                         data-splitout="none"
                                         data-elementdelay="0.1"
                                         data-endelementdelay="0.1"
                                         style="z-index: 11; max-width: auto; max-height: auto; white-space: nowrap;"><a
                                            href="#">READ MORE</a>
                                    </div>
                                </li>
                                <li data-transition="fade" data-slotamount="5" data-masterspeed="500"
                                    data-saveperformance="on" data-title="Intro Slide">
                                    <!-- MAIN IMAGE -->
                                    <img src="assets/images/corporate/s011.jpg" alt="slidebg1"
                                         data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                                    <!-- LAYERS -->

                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption lfb ltb rs-parallaxlevel-0"
                                         data-x="0"
                                         data-y="0"
                                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                         data-speed="800"
                                         data-start="1800"
                                         data-easing="Power3.easeInOut"
                                         data-elementdelay="0.1"
                                         data-endelementdelay="0.1"
                                         style="z-index: 2;">
                                        <img src="assets/images/corporate/s021.png" alt="">
                                    </div>

                                    <!-- LAYER NR. 2 -->
                                    <div class="tp-caption lfb ltb rs-parallaxlevel-0"
                                         data-x="0"
                                         data-y="0"
                                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                         data-speed="800"
                                         data-start="2100"
                                         data-easing="Power3.easeInOut"
                                         data-elementdelay="0.1"
                                         data-endelementdelay="0.1"
                                         style="z-index: 3;">
                                        <img src="assets/images/corporate/s03.png" alt="">
                                    </div>

                                    <!-- LAYER NR. 3 -->
                                    <div class="tp-caption lfb ltb rs-parallaxlevel-0"
                                         data-x="0"
                                         data-y="0"
                                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                         data-speed="800"
                                         data-start="2400"
                                         data-easing="Power3.easeInOut"
                                         data-elementdelay="0.1"
                                         data-endelementdelay="0.1"
                                         style="z-index: 4;">
                                        <img src="assets/images/corporate/s041.png" alt="">
                                    </div>

                                    <!-- LAYER NR. 4 -->
                                    <div class="tp-caption lfb ltb rs-parallaxlevel-0"
                                         data-x="0"
                                         data-y="0"
                                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                         data-speed="800"
                                         data-start="2600"
                                         data-easing="Power3.easeInOut"
                                         data-elementdelay="0.1"
                                         data-endelementdelay="0.1"
                                         style="z-index: 5;">
                                        <img src="assets/images/corporate/s051.png" alt="">
                                    </div>

                                    <!-- LAYER NR. 5 -->
                                    <div class="tp-caption lfb ltb rs-parallaxlevel-0"
                                         data-x="0"
                                         data-y="0"
                                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                         data-speed="800"
                                         data-start="2700"
                                         data-easing="Power3.easeInOut"
                                         data-elementdelay="0.1"
                                         data-endelementdelay="0.1"
                                         style="z-index: 6;">
                                        <img src="assets/images/corporate/s06.png" alt="">
                                    </div>

                                    <!-- LAYER NR. 6 -->
                                    <div class="tp-caption lfb ltb rs-parallaxlevel-0"
                                         data-x="50"
                                         data-y="0"
                                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                         data-speed="800"
                                         data-start="2800"
                                         data-easing="Power3.easeInOut"
                                         data-elementdelay="0.1"
                                         data-endelementdelay="0.1"
                                         style="z-index: 7;">
                                        <img src="assets/images/corporate/s071.png" alt="">
                                    </div>

                                    <!-- LAYER NR. 7 -->
                                    <div class="tp-caption corporatewhitebig sfl tp-resizeme rs-parallaxlevel-0"
                                         data-x="40"
                                         data-y="100"
                                         data-speed="600"
                                         data-start="800"
                                         data-easing="Power3.easeInOut"
                                         data-splitin="chars"
                                         data-splitout="none"
                                         data-elementdelay="0.1"
                                         data-endelementdelay="0.1"
                                         style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;">
                                        THIS IS
                                    </div>

                                    <!-- LAYER NR. 8 -->
                                    <div class="tp-caption corporatewhitebigstrong sfl tp-resizeme rs-parallaxlevel-0"
                                         data-x="217"
                                         data-y="100"
                                         data-speed="600"
                                         data-start="1400"
                                         data-easing="Power3.easeInOut"
                                         data-splitin="chars"
                                         data-splitout="none"
                                         data-elementdelay="0.1"
                                         data-endelementdelay="0.1"
                                         style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">
                                        LAMBDA
                                    </div>

                                    <!-- LAYER NR. 9 -->
                                    <div class="tp-caption corporatewhitenormal sfl tp-resizeme rs-parallaxlevel-0"
                                         data-x="70"
                                         data-y="200"
                                         data-speed="600"
                                         data-start="2500"
                                         data-easing="Power3.easeInOut"
                                         data-splitout="none"
                                         data-elementdelay="0.1"
                                         data-endelementdelay="0.1"
                                         style="z-index: 10; max-width: auto; max-height: auto; white-space: nowrap;">
                                        Modern and responsive
                                    </div>

                                    <!-- LAYER NR. 10 -->
                                    <div class="tp-caption sfl rs-parallaxlevel-0"
                                         data-x="40"
                                         data-y="200"
                                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                         data-speed="600"
                                         data-start="2400"
                                         data-easing="Power3.easeInOut"
                                         data-elementdelay="0.1"
                                         data-endelementdelay="0.1"
                                         style="z-index: 11;">
                                        <img src="assets/images/corporate/s08.png" alt="">
                                    </div>

                                    <!-- LAYER NR. 11 -->
                                    <div class="tp-caption corporatewhitenormal sfl tp-resizeme rs-parallaxlevel-0"
                                         data-x="70"
                                         data-y="250"
                                         data-speed="600"
                                         data-start="2800"
                                         data-easing="Power3.easeInOut"
                                         data-splitout="none"
                                         data-elementdelay="0.1"
                                         data-endelementdelay="0.1"
                                         style="z-index: 12; max-width: auto; max-height: auto; white-space: nowrap;">
                                        Powerful and easy to use
                                    </div>

                                    <!-- LAYER NR. 12 -->
                                    <div class="tp-caption sfl rs-parallaxlevel-0"
                                         data-x="40"
                                         data-y="250"
                                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                         data-speed="600"
                                         data-start="2700"
                                         data-easing="Power3.easeInOut"
                                         data-elementdelay="0.1"
                                         data-endelementdelay="0.1"
                                         style="z-index: 13;">
                                        <img src="assets/images/corporate/s08.png" alt="">
                                    </div>

                                    <!-- LAYER NR. 13 -->
                                    <div class="tp-caption corporatewhitenormal sfl tp-resizeme rs-parallaxlevel-0"
                                         data-x="70"
                                         data-y="300"
                                         data-speed="600"
                                         data-start="3100"
                                         data-easing="Power3.easeInOut"
                                         data-splitout="none"
                                         data-elementdelay="0.1"
                                         data-endelementdelay="0.1"
                                         style="z-index: 14; max-width: auto; max-height: auto; white-space: nowrap;">
                                        Flexible and awesome
                                    </div>

                                    <!-- LAYER NR. 14 -->
                                    <div class="tp-caption sfl rs-parallaxlevel-0"
                                         data-x="40"
                                         data-y="300"
                                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                         data-speed="600"
                                         data-start="3000"
                                         data-easing="Power3.easeInOut"
                                         data-elementdelay="0.1"
                                         data-endelementdelay="0.1"
                                         style="z-index: 15;">
                                        <img src="assets/images/corporate/s08.png" alt="">
                                    </div>

                                    <!-- LAYER NR. 15 -->
                                    <div class="tp-caption corporatewhitebutton lfb tp-resizeme rs-parallaxlevel-0"
                                         data-x="70"
                                         data-y="380"
                                         data-speed="700"
                                         data-start="4000"
                                         data-easing="Power3.easeInOut"
                                         data-splitout="none"
                                         data-elementdelay="0.1"
                                         data-endelementdelay="0.1"
                                         style="z-index: 16; max-width: auto; max-height: auto; white-space: nowrap;"><a
                                            href="#">GET IT NOW</a>
                                    </div>
                                </li>
                                <li data-transition="fade" data-slotamount="5" data-masterspeed="500"
                                    data-saveperformance="on" data-title="Intro Slide">
                                    <!-- MAIN IMAGE -->
                                    <img src="assets/images/corporate/s15.jpg" alt="slidebg1"
                                         data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                                    <!-- LAYERS -->

                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption lfb ltb rs-parallaxlevel-0"
                                         data-x="0"
                                         data-y="-60"
                                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                         data-speed="800"
                                         data-start="1800"
                                         data-easing="Power3.easeInOut"
                                         data-elementdelay="0.1"
                                         data-endelementdelay="0.1"
                                         style="z-index: 2;">
                                        <img src="assets/images/corporate/s16.png" alt="s16">
                                    </div>

                                    <!-- LAYER NR. 2 -->
                                    <div class="tp-caption lfb ltb rs-parallaxlevel-0"
                                         data-x="0"
                                         data-y="-60"
                                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                         data-speed="800"
                                         data-start="2100"
                                         data-easing="Power3.easeInOut"
                                         data-elementdelay="0.1"
                                         data-endelementdelay="0.1"
                                         style="z-index: 3;">
                                        <img src="assets/images/corporate/s17.png" alt="">
                                    </div>

                                    <!-- LAYER NR. 3 -->
                                    <div class="tp-caption lfb ltb rs-parallaxlevel-0"
                                         data-x="0"
                                         data-y="-60"
                                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                         data-speed="700"
                                         data-start="2400"
                                         data-easing="Power3.easeInOut"
                                         data-elementdelay="0.1"
                                         data-endelementdelay="0.1"
                                         style="z-index: 4;">
                                        <img src="assets/images/corporate/s18.png" alt="">
                                    </div>

                                    <!-- LAYER NR. 4 -->
                                    <div class="tp-caption lfb ltb rs-parallaxlevel-0"
                                         data-x="0"
                                         data-y="-60"
                                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                         data-speed="700"
                                         data-start="2700"
                                         data-easing="Power3.easeInOut"
                                         data-elementdelay="0.1"
                                         data-endelementdelay="0.1"
                                         style="z-index: 5;">
                                        <img src="assets/images/corporate/s19.png" alt="">
                                    </div>

                                    <!-- LAYER NR. 5 -->
                                    <div class="tp-caption lfb ltb rs-parallaxlevel-0"
                                         data-x="0"
                                         data-y="-90"
                                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                         data-speed="600"
                                         data-start="3000"
                                         data-easing="Power3.easeInOut"
                                         data-elementdelay="0.1"
                                         data-endelementdelay="0.1"
                                         style="z-index: 6;">
                                        <img src="assets/images/corporate/s20.png" alt="">
                                    </div>

                                    <!-- LAYER NR. 6 -->
                                    <div class="tp-caption lfb ltb rs-parallaxlevel-0"
                                         data-x="0"
                                         data-y="-80"
                                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                         data-speed="600"
                                         data-start="3300"
                                         data-easing="Power3.easeInOut"
                                         data-elementdelay="0.1"
                                         data-endelementdelay="0.1"
                                         style="z-index: 7;">
                                        <img src="assets/images/corporate/s22.png" alt="">
                                    </div>

                                    <!-- LAYER NR. 7 -->
                                    <div class="tp-caption lfb ltb rs-parallaxlevel-0"
                                         data-x="0"
                                         data-y="-80"
                                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                         data-speed="600"
                                         data-start="3600"
                                         data-easing="Power3.easeInOut"
                                         data-elementdelay="0.1"
                                         data-endelementdelay="0.1"
                                         style="z-index: 8;"><img src="assets/images/corporate/s21.png" alt="">
                                    </div>

                                    <!-- LAYER NR. 8 -->
                                    <div class="tp-caption corporatewhitebigcenter fade tp-resizeme rs-parallaxlevel-0"
                                         data-x="0"
                                         data-y="100"
                                         data-speed="1000"
                                         data-start="2500"
                                         data-splitout="none"
                                         data-elementdelay="0.1"
                                         data-endelementdelay="0.1"
                                         style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">WE
                                        CREATE A <strong>UNIQUE</strong> PROCESS FOR EACH CLIENT TO ENSURE <BR>THAT
                                        BUSINESS <strong>OBJECTIVES</strong> ARE MET.
                                    </div>

                                </li>
                            </ul>
                            <div class="tp-bannertimer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center element-top-70 os-animation super" data-os-animation="fadeIn"
                        data-os-animation-delay="0s">
                        We care deeply about our employees and their families.
                    </h1>

                    <div class="divider-border divider-border-center element-top-10 element-bottom-10 os-animation"
                         data-os-animation="fadeIn" data-os-animation-delay="0.1s" style="height:3px;">
                        <div class="divider-border-inner" style="width:60px;">
                        </div>
                    </div>

                    <p class="lead text-center center element-bottom-40 os-animation we-offer-color"
                       data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                        That's why we offer the best employee perks and look for employees to stay with us for life
                    </p>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    <div class="portfolio-container element-bottom-60">

                        <div class="portfolio masonry no-transition magnific-all"
                             data-col-lg="3" data-col-md="3" data-col-sm="3" data-col-xs="1" data-layout="fitRows"
                             data-padding="15">
                            <div class="masonry-item portfolio-item filter-drinks filter-people"
                                 data-title="Tenure after 3 years of employment.">
                                <div class="figure portfolio-os-animation image-filter-blur image-filter-onhover fade-in from-right text-center figcaption-top normalwidth"
                                     data-os-animation="fadeIn" data-os-animation-delay="0s">
                                    <a class="figure-image magnific" href=
                                            "assets/images/happy-nanny/baby-mother.jpg" target=
                                               "_self">
                                        <img alt="Corporate animation" class="normalwidth"
                                             src="assets/images/happy-nanny/baby-mother.jpg">

                                        <div class="figure-overlay color1">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">
                                                        Tenure after 3 years of employment.</h3>

                                                    <p class="figure-caption-description">After three years of working with the company you will be eligible to apply for tenure with the company. What is tenure? In short it's job security. Childcare is always needed and is a booming industry so your job is safe with us.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-people" data-title="Health benefits & dental benefits">
                                <div class="figure portfolio-os-animation image-filter-blur image-filter-onhover fade-in from-right text-center figcaption-top normalwidth"
                                     data-os-animation="fadeIn"
                                     data-os-animation-delay="0.2s">
                                    <a class="figure-image magnific" href=
                                            "assets/images/happy-nanny/medical.jpg"
                                       target="_self">
                                        <img alt="Freshquote co" class="normalwidth"
                                             src="assets/images/happy-nanny/medical.jpg">

                                        <div class="figure-overlay color2">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">
                                                        Health benefits & dental benefits</h3>

                                                    <p class="figure-caption-description">As we grow our network we hope to offer a 100% employee covered based plan. </p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-people"
                                 data-title="Paid time off">
                                <div class="figure portfolio-os-animation image-filter-blur image-filter-onhover fade-in from-right text-center figcaption-top normalwidth"
                                     data-os-animation="fadeIn"
                                     data-os-animation-delay="0.4s">
                                    <a class="figure-image magnific"
                                       href="assets/images/happy-nanny/vacation.jpg" target="_self">
                                        <img alt="Rapid Longitude branding" class="normalwidth"
                                             src="assets/images/happy-nanny/vacation.jpg">

                                        <div class="figure-overlay color3">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class=
                                                                "figure-caption-title bordered bordered-small">
                                                        Paid time off</h3>

                                                    <p class="figure-caption-description">We offer very generous paid time off and vacation leave.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-people" data-title="Advancement opportunities within the company">
                                <div class="figure portfolio-os-animation image-filter-blur image-filter-onhover fade-in from-right text-center figcaption-top normalwidth"
                                     data-os-animation="fadeIn"
                                     data-os-animation-delay="0.6s">
                                    <a class="figure-image magnific" href=
                                            "assets/images/happy-nanny/steps.jpg"
                                       target="_self">
                                        <img alt=
                                                     "Risky Heart magazine" class="normalwidth"
                                             src="assets/images/happy-nanny/steps.jpg">

                                        <div class="figure-overlay color4">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class=
                                                                "figure-caption-title bordered bordered-small">
                                                        Advancement opportunities within the company
                                                    </h3>

                                                    <p class=
                                                               "figure-caption-description">ead your own team of nannies! We are always looking for managers to manage a city of nannies.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-people" data-title="Profit sharing">
                                <div class="figure portfolio-os-animation image-filter-blur image-filter-onhover fade-in from-right text-center figcaption-top normalwidth"
                                     data-os-animation="fadeIn"
                                     data-os-animation-delay="0.8s">
                                    <a class="figure-image magnific" href=
                                            "assets/images/happy-nanny/wallet.jpg"
                                       target="_self">
                                        <img alt="Stationary Concept" class="normalwidth"
                                             src="assets/images/happy-nanny/wallet.jpg">

                                        <div class="figure-overlay color5">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class=
                                                                "figure-caption-title bordered bordered-small">
                                                        Profit sharing</h3>

                                                    <p class=
                                                               "figure-caption-description">We have developed a unique concept in house for profit sharing at HappyNanny. We take 20% of our profits each month and put them into an high interest yielding account and distribute the interest to each of our employees paychecks. The bigger we grow, the more we can distribute to our employees.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="masonry-item portfolio-item filter-drinks" data-title="Work anywhere you want">
                                <div class="figure portfolio-os-animation image-filter-blur image-filter-onhover fade-in from-right text-center figcaption-top normalwidth"
                                     data-os-animation="fadeIn"
                                     data-os-animation-delay=0.9s">
                                    <a class="figure-image magnific" href=
                                            "assets/images/happy-nanny/mother.jpg"
                                       target="_self">
                                        <img alt="Lambda Magazine" class="normalwidth"
                                             src="assets/images/happy-nanny/mother.jpg">

                                        <div class="figure-overlay color6">
                                            <div class="figure-overlay-container">
                                                <div class="figure-caption">
                                                    <h3 class="figure-caption-title bordered bordered-small">
                                                        Work anywhere you want</h3>

                                                    <p class=
                                                               "figure-caption-description">As we expand our network you can work in any city which we have a base of operations.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center element-top-30 os-animation super" data-os-animation="fadeIn"
                        data-os-animation-delay="0s">
                        Open Positions
                    </h1>
                    <div class="divider-border divider-border-center element-top-10 element-bottom-10 os-animation"
                         data-os-animation="fadeIn" data-os-animation-delay="0.1s"
                         style="height:3px;">
                        <div class="divider-border-inner" style="width:60px;">
                        </div>
                    </div>

                    <div class="row element-bottom-50">
                        <div class="col-md-6 col-xs-12 fade-in element-bottom-20 text-left fade-in os-animation"
                             data-os-animation="fadeIn" data-os-animation-delay="0.1s"
                             style="padding-top: 10px;">
                            <div class="os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0s">
                                <div class="col-md-12 col-xs-12 open-position-shadow" style="background-color: #f8f8f8; padding: 10px;">
                                    <div class="box-animate text-center"
                                         style="padding-left: 10px; width: 20%; float: left;position: relative;">
                                        <img src="assets/images/happy-nanny/nanny-icon-1.png"/>
                                    </div>
                                    <div class="box-animate"
                                         style="float: left; padding-left: 10px; width: 80%; position: relative;">
                                        <h3 class="element-top-0">Nanny position in Tampa, FL</h3>
                                        <p>Lorem ipsum doloret sit amet vinctus</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12 fade-in element-bottom-20 text-left fade-in os-animation"
                             data-os-animation="fadeIn" data-os-animation-delay="0.1s"
                             style=" padding-top: 10px;">
                            <div class="os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0s">
                                <div class="col-md-12 col-xs-12 open-position-shadow" style="background-color: #f8f8f8; padding: 10px;">
                                    <div class="box-animate text-center"
                                         style="padding-left: 10px; width: 20%; float: left;position: relative;">
                                        <img src="assets/images/happy-nanny/nanny-icon-2.png" style="height:74px;"/>
                                    </div>
                                    <div class="box-animate"
                                         style="float: left; padding-left: 10px; width: 80%; position: relative;">
                                        <h3 class="element-top-0">Customer service agent in Digos City, Philippines</h3>
                                        <p>Lorem ipsum doloret sit amet vinctus </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="background-media" data-0-top-bottom="background-position: 50% 50px"
             data-start="background-position: 50% -31px"
             style="background-image: url(assets/images/happy-nanny/office.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
        </div>
        <div class="background-overlay" style="background-color: rgba(64,42,71,0.85);"></div>
        <div class="container container-vertical-middle">
            <div class="row vertical-middle">
                <div class="col-md-12">
                    <h1 class="text-center element-top-70 os-animation super text-light" data-os-animation="fadeIn"
                        data-os-animation-delay="0s">
                        Apply for a job
                    </h1>
                    <form id="contactForm1" action="#" class="contact-form element-bottom-30">
                        <div class="row">
                            <div class="col-md-offset-1 col-md-5">
                                <div class="form-group form-icon-group">
                                    <label class="text-light" for="name">Your Name<sup>*</sup></label>
                                    <input class="form-control" id="name" name="name"
                                           placeholder="Enter your name here." type="text" required="required">
                                </div>
                                <div class="form-group form-icon-group">
                                    <label class="text-light" for="phone">Phone</label>
                                    <input class="form-control" id="phone" name="phone"
                                           placeholder="Enter your phone here." type="text" required="required">
                                </div>
                                <p>
                                    <label class="text-light" for="resume">Upload your resume:</label>
                                    <input id="resume" name="resume" type="file" required="required">
                                </p>

                            </div>
                            <div class="col-md-5">
                                <div class="form-group form-icon-group">
                                    <label class="text-light" for="email">E-mail</label>
                                    <input class="form-control" id="email" name="email"
                                           placeholder="Enter your e-mail here." type="email" required="required">
                                </div>
                                <div class="form-group form-icon-group">
                                    <label class="text-light" for="message">Coversheet</label>
                                    <textarea class="form-control" id="message" name="message"
                                              placeholder="Type or paste your coversheet here" rows="6"
                                              required="required"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <input type="submit" value="SUBMIT" class="btn btn-primary"
                                   style="font-size: 24px; width: 200px;">
                        </div>
                        <div class="messages text-center"></div>
                    </form>
                </div>
            </div>
        </div>
    </section>

</article>


{% endblock %}